body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #2E7AA9;
  font-family: 'Segoe UI', sans-serif;
  color: #212529;
}

#slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: bottom center;
  opacity: 0;
  transition: opacity 2s ease;
  z-index: 1;
  display: flex;
}

.slide.active {
  opacity: 1;
  z-index: 2;
}

.quote-container {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100vw;
  background: rgba(250,250,250,0.7);
  padding: 2rem;
  border-radius: 0 200px 200px 0;
  border: 2px solid white;
  text-align: center;
  opacity: 0;
  transform: translateX(-150vw);
  transition: all 2s ease;
}
.quote-container::before,
.quote-container::after {
  content: "";
  position: absolute;
  width: 40%;       /* ← 30% von .quote-container */
  padding-top: 40%; /* Höhe gleich Breite für Kreis */
  left: -20%;
  background: rgba(255,255,255,.7);
  border-radius: 50%;
  z-index: 0;
}

.quote-container::before {
  top: -120px; /* oberer Kreis */
}

.quote-container::after {
  bottom: -120px; /* unterer Kreis – leicht überlappend */
}

.slide.active .quote-container {
  opacity: 1;
  transform: translateX(-220px);
}
.slide.next .quote-container {
  opacity: 0;
  transform: translateX(50vw);
}

.quote {
  padding: 0 60px 0 240px;
}

.quote h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.quote p {
  font-size: 1.5rem;
  font-style: italic;
  opacity: 0.9;
}